<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Applications</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div style="margin-top: 10em; margin-bottom: 30em;" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="text-center">My Web Applications</h1>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="/rot13" class="list-group-item">
                        <h4 class="list-group-item-heading">ROT13 (Rotate by 13 places)</h4>
                        <p class="list-group-item-text">ROT13 is a simple letter
            substitution cipher, it's a special case of the Caesar cipher,
                            developed in ancient Rome.</p>
                    </a>
                    <a href="/asciiArt" class="list-group-item">
                        <h4 class="list-group-item-heading">ASCII Art</h4>
                        <p class="list-group-item-text">ASCII art is a graphic design technique that
                            uses computers for presentation and consists of pictures pieced together
                            from the 95 printable (from a total of 128) characters defined by the ASCII Standard
                            from 1963 and ASCII compliant character sets with proprietary extended
                            characters (beyond the 128 characters of standard 7-bit ASCII)</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
